.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 2px;
  background: #293c6e;
}

.link {
  color: #3269a8 !important;
}

.link:hover {
  text-decoration: underline !important;
}

.footer {
  background-color: white !important;
}


