.qa-container {
  box-sizing: border-box !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 60vh !important;
  overflow: hidden !important;
  margin-top: 4rem !important;
  margin: auto !important;
  background: #fff !important;
  width: 600px !important;
  height: 600px !important;
  border-radius: 10px !important;
  overflow: hidden !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.question {
  font-size: calc(28px + (20 - 16) * ((100vw - 768px) / (1600 - 768))) !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.answers {
  font-size: calc(20px + (20 - 16) * ((100vw - 768px) / (1600 - 768))) !important;
  margin-bottom: 20px !important;
  text-align: left;
  display: inline-block;
}

.answers label {
  display: block;
  margin-bottom: 10px;
}

.profile-button {
  color: #ffffff !important;
  background-color: #293c6e !important;
  border: none
}

button {
  margin-bottom: 20px !important;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.quiz-container {
  position: relative;
  width: auto;
  height: 300px;
}

.container {
  text-align: center !important;
  align-items: center !important;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
