body {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    overflow-y: scroll; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: rgb(80, 114, 167);
    background: linear-gradient(90deg, rgba(80, 114, 167, 1) 0%, rgba(126, 164, 204, 1) 100%, rgba(175, 219, 245, 1) 100%);
}

body::-webkit-scrollbar {
    display: none; 
}

.mtf {
    margin-top:2rem!important;
}