@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");

h5 {
    padding-right: 10px !important;
}

input {
    margin-bottom: 0px !important;
}

.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.form-control,
.dataTable-input {
  font-family: "Sora", sans-serif;
  font-size: calc(12px + (20 - 16) * ((100vw - 768px) / (1600 - 768))) !important;
  color: #3a4750 !important;
  text-decoration: none !important;
  display: block;
  width: 100%;
  padding: 0.1rem 0.5rem !important;
  line-height: 1;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.name {
    padding-top: 5px !important;
}

.status {
    color: #CD5C5C !important;
}

.cardd {
    white-space: nowrap !important;
    display: flex !important;
}

.form-check-label {
    margin-top: 2px !important;
}
