a,
label {
  font-family: "Sora", sans-serif;
  font-weight: 500;
  font-size: calc(12px + (20 - 16) * ((100vw - 768px) / (1600 - 768))) !important;
  text-decoration: none !important;
}

i {
    padding-left: 5px !important;
    padding-top: 3px !important;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #3a4750 !important;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-pills {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: #293c6e !important;
    
}

.tg-info {
    background-color: rgb(80, 114, 167) !important;
}

.lr {
    font-family: "Sora", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #3a4750 !important;
    text-decoration: none !important;
}

.click_card {
    text-align: left !important;
    border: none;
    background-color: #fff;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
    margin-bottom: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.57rem;
}

.note-has-grid .nav-link {
    padding: .5rem
}

.note-has-grid .single-note-item .card {
    border-radius: 10px
}

.note-has-grid .single-note-item .favourite-note {
    cursor: pointer
}

.note-has-grid .single-note-item .side-stick {
    position: absolute;
    width: 3px;
    height: 35px;
    left: 0;
    background-color: rgba(82, 95, 127, .5)
}

.note-has-grid .single-note-item .category-dropdown.dropdown-toggle:after {
    display: none
}

.note-has-grid .single-note-item .category [class*=category-] {
    height: 15px;
    width: 15px;
    display: none
}

.note-has-grid .single-note-item .category [class*=category-]::after {
    content: "\f0d7";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 12px !important;
    color: #fff !important;
    position: absolute
}

.note-has-grid .single-note-item .category .category-copyright {
    background-color: rgba(44, 208, 126, .5);
    border: 2px solid #2cd07e
}

.note-has-grid .single-note-item .category .category-patent {
    background-color: rgba(44, 171, 227, .5);
    border: 2px solid #2cabe3
}

.note-has-grid .single-note-item .category .category-petty_patent {
    background-color: rgba(255, 80, 80, .5);
    border: 2px solid #ff5050
}

.note-has-grid .single-note-item.all-category .point {
    color: rgba(82, 95, 127, .5)
}

.note-has-grid .single-note-item.note-copyright .point {
    color: rgba(44, 208, 126, .5)
}

.note-has-grid .single-note-item.note-copyright .side-stick {
    background-color: rgba(44, 208, 126, .5)
}

.note-has-grid .single-note-item.note-copyright .category .category-copyright {
    display: inline-block
}

.note-has-grid .single-note-item.note-favourite .favourite-note {
    color: #ffc107
}

.note-has-grid .single-note-item.note-patent .point {
    color: rgba(44, 171, 227, .5)
}

.note-has-grid .single-note-item.note-patent .side-stick {
    background-color: rgba(44, 171, 227, .5)
}

.note-has-grid .single-note-item.note-patent .category .category-patent {
    display: inline-block
}

.note-has-grid .single-note-item.note-petty_patent .point {
    color: rgba(255, 80, 80, .5)
}

.note-has-grid .single-note-item.note-petty_patent .side-stick {
    background-color: rgba(255, 80, 80, .5)
}

.note-has-grid .single-note-item.note-petty_patent .category .category-petty_patent {
    display: inline-block
}

.note-has-grid .single-note-item.all-category .more-options,
.note-has-grid .single-note-item.all-category.note-favourite .more-options {
    display: block
}

.note-has-grid .single-note-item.all-category.note-copyright .more-options,
.note-has-grid .single-note-item.all-category.note-favourite.note-copyright .more-options,
.note-has-grid .single-note-item.all-category.note-favourite.note-petty_patent .more-options,
.note-has-grid .single-note-item.all-category.note-favourite.note-patent .more-options,
.note-has-grid .single-note-item.all-category.note-petty_patent .more-options,
.note-has-grid .single-note-item.all-category.note-patent .more-options {
    display: none
}

@media (max-width:767.98px) {
    .note-has-grid .single-note-item {
        max-width: 100%
    }
}

@media (max-width:991.98px) {
    .note-has-grid .single-note-item {
        max-width: 216px
    }
}
